/*OTHER*/
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75em;
    font-size: 16px;
    background-color: #222;
    color: #aaa;
    height:100%;
    position: relative;
}

section{
    background:#222;
    color:slategrey;
    padding:auto;
    display:flex;
    flex-direction: row;
}

div{
    margin:auto;
    width:auto;
}

header{
    background: black;
    padding: auto;
    font-size: 25px;
    /*margin-top: 4px;*/
    margin-bottom: 4px;
    float: top !important;
}

footer{
    background: black;
    padding: auto;
    font-size: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    float: bottom !important;
}

ul{
    margin: 0px;
    flex-direction: column;
    display: flex;
    background: darkorange;
}

li{
    display: flex;
    margin-right:20px;
    margin-left: -15px;
    padding-left: -10px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

a:link{
    font-size:25px;
    padding:2px;
    display: flex;
}

a:link{
    color:whitesmoke;
}
a:visited{
    color:antiquewhite;
}
a:hover{
    color:red;
}
a:active{
    color:crimson;
}

.float-left-area{
    width: 20%;
    /*height:100% !important;*/
    float:left;
    background-color:darkorange;
}
.float-right-area{
    width:80%;
    /*min-height:100% !important;*/
    float:right;
    background-color:black;
}
.inner-left{
    padding: 5px 5px 5px 5px;
    /*border: #999999;*/
    height: 1000px;
}
.inner-right{
    padding: 5px 5px 5px 5px;
    /*border: #999999 1px solid;*/
    height:1000px;
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75em;
    font-size: 16px;
    background-color: #222;
    color: #aaa;
    height:100%;
    position: relative;
}

section{
    background:#222;
    color:slategrey;
    padding:auto;
    display:flex;
    flex-direction: row;
}

div{
    margin:auto;
    width:auto;
}

header{
    background: black;
    padding: auto;
    font-size: 25px;
    /*margin-top: 4px;*/
    margin-bottom: 4px;
    float: top !important;
}

footer{
    background: black;
    padding: auto;
    font-size: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    float: bottom !important;
}

ul{
    margin: 0px;
    flex-direction: column;
    display: flex;
    background: darkorange;
}

li{
    display: flex;
    margin-right:20px;
    margin-left: -15px;
    padding-left: -10px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

a:link{
    font-size:25px;
    padding:2px;
    display: flex;
}

a:link{
    color:whitesmoke;
}
a:visited{
    color:antiquewhite;
}
a:hover{
    color:red;
}
a:active{
    color:crimson;
}

.float-left-area{
    width: 20%;
    /*height:100% !important;*/
    float:left;
    background-color:darkorange;
}
.float-right-area{
    width:80%;
    /*min-height:100% !important;*/
    float:right;
    background-color:black;
}
.inner-left{
    padding: 5px 5px 5px 5px;
    /*border: #999999;*/
    height: 1000px;
}
.inner-right{
    padding: 5px 5px 5px 5px;
    /*border: #999999 1px solid;*/
    height:1000px;
}

}
/*END DESKTOP DISPLAY*/

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 640px) and (orientation: portrait){
    body {
        font-family: 'Open Sans', sans-serif;
        line-height: 1.75em;
        font-size: 16px;
        background-color: #222;
        color: #aaa;
        height:100%;
        position: relative;
    }

    section{
        background:#222;
        color:slategrey;
        padding:auto;
        display:flex;
        flex-direction: row;
    }

    div{
        margin:auto;
        width:auto;
    }

    header{
        background: black;
        padding: auto;
        font-size: 25px;
        /*margin-top: 4px;*/
        margin-bottom: 4px;
        /*float: top /*!important;*/
    }

    footer{
        background: black;
        padding: auto;
        font-size: 25px;
        margin-top: 4px;
        margin-bottom: 4px;
        /*float: bottom /*!important;*/
    }

    ul{
        margin: 0px;
        flex-direction: row;
        display: flex;
        background: darkorange;
    }

    li{
        display: flex;
        margin-right:20px;
        margin-left: -15px;
        padding-left: -10px;
        color: black;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    a:link{
        font-size:25px;
        padding:2px;
        display: flex;
    }

    a:link{
        color:whitesmoke;
    }
    a:visited{
        color:antiquewhite;
    }
    a:hover{
        color:red;
    }
    a:active{
        color:crimson;
    }

    .float-left-area{
        position: absolute;
        height: 200px;
        /*height:100% !important;*/
        float: top !important;
        background-color:darkorange;
    }
    .float-right-area{
        position: relative;
        height:1000px;
        /*min-height:100% !important;*/
        float:bottom !important;
        background-color:black;
    }
    .inner-left{
        padding: 5px 5px 5px 5px;
        /*border: #999999;*/
        /*float: top;*/
        width:100%;
    }
    .inner-right{
        padding: 5px 5px 5px 5px;
        /*border: #999999 1px solid;*/
        /*float:bottom;*/
        width:100%;
    }
}

/*END MOBILE PHONE PORTRAIT DISPLAY*/

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
    body {
        font-family: 'Open Sans', sans-serif;
        line-height: 1.75em;
        font-size: 16px;
        background-color: #222;
        color: #aaa;
        height:100%;
        position: relative;
    }

    section{
        background:#222;
        color:slategrey;
        padding:auto;
        display:flex;
        flex-direction: row;
    }

    div{
        margin:auto;
        width:auto;
    }

    header{
        background: black;
        padding: auto;
        font-size: 25px;
        /*margin-top: 4px;*/
        margin-bottom: 4px;
        /*float: top /*!important;*/
    }

    footer{
        background: black;
        padding: auto;
        font-size: 25px;
        margin-top: 4px;
        margin-bottom: 4px;
        /*float: bottom /*!important;*/
    }

    ul{
        margin: 0px;
        flex-direction: column;
        display: flex;
        background: darkorange;
    }

    li{
        display: flex;
        margin-right:20px;
        margin-left: -15px;
        padding-left: -10px;
        color: black;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    a:link{
        font-size:25px;
        padding:2px;
        display: flex;
    }

    a:link{
        color:whitesmoke;
    }
    a:visited{
        color:antiquewhite;
    }
    a:hover{
        color:red;
    }
    a:active{
        color:crimson;
    }

    .float-left-area{
        width: 20%;
        /*height:100% !important;*/
        float:left;
        background-color:darkorange;
    }
    .float-right-area{
        width:80%;
        /*min-height:100% !important;*/
        float:right;
        background-color:black;
    }
    .inner-left{
        padding: 5px 5px 5px 5px;
        /*border: #999999;*/
        height: 1000px;
    }
    .inner-right{
        padding: 5px 5px 5px 5px;
        /*border: #999999 1px solid;*/
        height:1000px;
    }
}

/*END MOBILE PHONE LANDSCAPE DISPLAY*/